DEBUG = 'True'
SECRET_KEY = 'django-insecure-local-dev-key-here'

# DATABASE 
DB_NAME=database_name
DB_USER=username
DB_PASSWORD=password
DB_HOST=host
DB_PORT=port
DATABASE_URL = 'postgres://username:password@host:port/database_name'
